<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jawadjahangir.android.bookwatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BooksProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <activity android:name=".SearchInternetActivity" />

        <service
            android:name=".search.SearchService"
            android:exported="false" />

        <activity
            android:name=".SearchedBookListActivity"
            android:label="@string/title_searchedbook_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jawadjahangir.android.bookwatch.MainActivity" />
        </activity>
        <activity
            android:name=".SearchedBookDetailActivity"
            android:label="@string/title_searchedbook_detail"
            android:parentActivityName=".SearchedBookListActivity"
            android:windowSoftInputMode="adjustNothing"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jawadjahangir.android.bookwatch.SearchedBookListActivity" />
        </activity>
        <activity
            android:name=".LocalBookListActivity"
            android:label="@string/title_localbook_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocalBookDetailActivity"
            android:label="@string/title_localbook_detail"
            android:parentActivityName=".LocalBookListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jawadjahangir.android.bookwatch.LocalBookListActivity" />
        </activity>
        <activity android:name=".NowReading" />

        <receiver android:name=".ReadingProgressWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reading_progress_widget_provider_info" />
        </receiver>

        <service
            android:name=".ReadingProgressWidgetService"
            android:exported="false"></service>
    </application>

</manifest>